.postbutton{
    display:block;
    width:98.5%;
    border: solid 1px;
    border-radius: 10px; 
    border-color:rgb(76, 65, 151);
    color: rgb(76, 65, 151);
    padding:15px;
    background-color:transparent; 
    margin:5px;
}
.pointer{
    cursor:pointer; 
}
.inputbox{
    margin:10px;
    width:260px;
    height:200px;
    border-radius: 10px;
    color:white;
    border: solid 1px white;
    background-color:transparent;
    padding:15px;
}
.inputclose{
    position:absolute;
    border:none;
    color:white;
    right:20px;
    top:20px;
    background-color:transparent;
}
.inputbox:focus{
    outline:none;
}
.inputbutton{
    float:bottom; 
    border: solid 1px white;
    color:white;
    border-radius:10px;
    background-color:transparent;
    padding:5px;
}
h1{
    color:white; 
    font-family:'Courier New', Courier, monospace;
}
body{
    background-color:black;
}
p{
    color:white;
    font-family:'Courier New', Courier, monospace;
}
li{
    color:white;
    font-family:'Courier New', Courier, monospace;
}
.sidegrid{
    position:relative; 
    display:grid; 
    grid-template-columns: 50%; 
    justify-content:right; 
}
.sidebar{
    position: fixed; 
    width: 20%; 
    height:100%;
    padding:0.5px;
    background-color:black;
    border-right:1px solid;
    border-color:darkslategray;
    padding-top:10px;
}
.sidebar a{
    display:block;
    position:relative;
    border-radius: 10px; 
    height:15px;
    margin:2px;
    margin-right:5px;
    padding:10px; 
    border:none; 
    background-color:black;
    color:white; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sidebar a:hover{
    background-color:white;
    color:black;
}
.postbox{
    width:60%; 
    border-right: 1px solid; 
    margin-left:22%; 
    padding-top:15px; 
}
.post{
    border-radius: 10px; 
    padding:15px; 
    margin:5px; 
    color:white; 
    background-color:rgb(54, 46, 108); 
}
.posttext{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow:auto;
}
.poststats{
    font-size:15px; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    display:inline;
    margin-left:15px; 
}
.post h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:inline; 
    margin-left:5px;
}
.post span{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top:10px;
    display:block;
}
*{
    margin: 0; 
    padding: 0;
} 
a {
    text-decoration:none; 
    color:white;
}
a:onclick{
    color:white; 
}
.popup{
    visibility:hidden; 
    position:absolute;
    background-color:rgb(54, 46, 108); 
    color:white;
    width:340px;
    height:300px;
    border-radius:30px;
    left: calc(50% - 162px);
    bottom: calc(50% - 162px);
    text-align:center;
    padding:30px;
    padding-left:10px; padding-right:10px;
    border: solid 2px;
    border-color:darkslateblue;
}
.show{
    animation: fadeIn 1s; 
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s; 
    -o-animation: fadeIn 1s;
    visibility:visible; 
}
@keyframes fadeIn{
    from {opacity: 0%}
    to {opacity: 100%}
}