.post{
    border-radius: 10px; 
    padding:15px; 
    margin:20px;
    margin-bottom:10px;
    margin-top:10px; 
    margin-bottom:5px;
    color:white; 
    background-color:rgb(54, 46, 108); 
}
.postbox{
    margin-top:60px;
}
.postbox p{
    margin-left:10px;
}
.posttext{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow:auto;
}
body{
    background-color:black; 
    padding:0.1px;
}
.post h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:inline-block; 
    margin-left: 5px; 
}
.post h4{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display:inline-block; 
    margin-left: 5px; 
    position:relative;
    bottom:2px;
}
.post span{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top:10px;
    display:block;
}
*{
    margin:0;
    padding:0;
}
h1{
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.extraspace{ /* nth child didnt work again */
    margin-top:10px;
}
.navbar{
    position:fixed; 
    width:100%;
    height:50px; 
    background-color:rgb(24, 21, 21);
    top:0px;
}
.homebutton{
    padding:5px; 
    height:20px;
    margin:10px; 
    border-radius:10px; 
    text-align:center; 
    width:100px; 
    color:white; 
}
.homebutton:hover{
    background-color:white;
    color:black; 
}
a{
    text-decoration:none; 
    color:white; 
}
a:onclick{
    color:white;
}
p{
    color:white;
    margin:10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.postform{
    border-radius: 10px; 
    padding: 5px; 
    margin:10px;
    border: solid 1px white; 
    width:fit-content;
}
.textform{
    outline:none;
    border:none;
    box-shadow:none;
    padding:5px;
    color:white;
    border:solid 1px white;
    background-color:transparent;
    border-radius:5px;
    width:100px; 
}
.othertextform{
    width:300px; 
}
.textform::placeholder{
    color:white;
}
.formbutton{
    background-color:lightskyblue; 
    border: solid 1px blue;
    color:blue; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    border-radius: 5px;
    font-size:auto;
    cursor:pointer;
}
.textform:focus{
    outline:none;
}
.textform:onclick{ 
    box-sizing:border-box;
    height:calc(100% - 6px);
}
