<!DOCTYPE html>

<html>
    <head>
        <title>Twitter Home</title>
        <meta charset = "utf-8"> 
        {% load static %}
        <link rel = "stylesheet" href = "{% static 'twitter/css/home.css' %}">
        <script src = "{% static 'twitter/js/home.js'%}"></script> 
    </head>
    <body>
        <div class = "sidebar">
            <div class = "sidegrid">
                <a href = "#"> Home </a>
                <a href = "#"> Explore </a>
                <a href = "#"> Notifications </a>
                <a href = "#"> Messages </a>
                <a href = "#"> Bookmarks </a>
                <a href = "#"> Lists </a>
                <a href = "/twitter/user/{{user.username}}"> Profile </a>
                <a href = "{% url 'signout' %}"> Sign Out </a>
            </div>
        </div> 
        <div class = "postbox">
            {% if post_list %}
                {% for post in post_list %}
                    <div class = "post">
                        {% load static %}
                        <img src = "{% static 'twitter/images/default.png' %}", width = 30px, height = 30px> 
                        <a href = "{% url 'profile' username=post.user %}"><h2>{{post.user}}</h2></a> <br>
                        <a href = "{% url 'post' pk=post.pk%}"> 
                            <span>{{post.text}}</span> 
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <p>No Posts Currently</p>
            {% endif %}
        </div>
    </body>
</html>