<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lists</title>
    {% load static %}
    <link rel = "stylesheet" href = "{% static 'twitter/css/lists.css' %}">
</head>
<body>
    <div class = "navbar">
        <a href = "{% url 'home' %}"><div class = "homebutton">
            Home
        </div></a>
    </div>
    <div class = "postbox">
        {% if own %}
            <center><form action="{% url 'createlist' %}" method = "POST" class = "postform">
                {% csrf_token %}
                <input class = "textform" type = "text" placeholder = "Name..." name = "name" id = "name" autocomplete = "off">
                <input class = "textform othertextform" type = "text" placeholder = "Description..." name = "desc" id = "desc" autocomplete = "off">
                <button class = "formbutton" type = "submit">Submit</button>
            </form></center>
        {% endif %}
        <center><h1>{{username}}'s Lists</h1></center>
        {% if owned %}
            {% for list in lists %}
                <a href = "{% url 'list' pk=list.pk %}"><div class = "post">
                    <h2>{{list.name}}</h2>
                    <h4>{{list.description}} - Posts: {{list.numPosts}}</h4> 
                </div></a>
            {% endfor %}
        {% else %}
            <center><p>No Lists Made</p></center>
        {% endif %}
        {% if own %}
            <center><h1 class="extraspace">Saved Lists</h1></center>
            {% if saved %}
                    {% for list in savedlist %}
                        <a href = "{% url 'list' pk=list.pk %}"><div class = "post">
                            <h2>{{list.name}}</h2>
                            <h4>{{list.description}} - Posts: {{list.numPosts}}</h4> 
                        </div></a>
                    {% endfor %}
            {% else %}
                <center><p>No Lists Saved</p></center>
            {% endif %}
        {% endif %}
    </div>
</body>
</html>