<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    {% load static %}
    <link rel = "stylesheet" href = "{% static 'twitter/css/messages.css' %}">
</head>
<body>
    <div class = "navbar">
        <a href = "{% url 'home' %}">
            <div class = "homebutton">
                    Home
            </div>
        </a>
    </div> 
    <center><h2>Messages List</h2></center>
    {% if empty %}
        <h1>No Messages Found</h1>
    {% else %}
        {% for dm in dms %}
        <div class = "post"> 
            <a href = "{% url 'message' pk=dm.pk %}"><h3>{{dm.name}}</h3></a>
        </div>
        {% endfor %}
    {% endif %}
</body>
</html>