<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{dm.name}}</title>
    {% load static %}
    <link rel="stylesheet" href = "{% static 'twitter/css/message.css' %}">
</head>
<body>
    <div class = "navbar">
        <a href = "{% url 'home' %}"><div class = "homebutton">
            Home
        </div></a>
    </div>  
    <center><h2>Message - {{dm.name}}</h2></center>
    <form action = "{% url 'sendmessage' pk=dm.pk %}" method="POST">
        {% csrf_token %}
        <center>
            <input class = "messagebox" type="text" placeholder="Message..." name="message" id="message" autocomplete="off">
            <button type="submit" class="messagebutton pointer">Send</button>
        </center>
    </form>
    {% for message in messages %}
        <div class="message"> 
            <h3>{{message.user.username}}</h3> 
            <span>{{message.text}}</span>
        </div>
    {% endfor %}
</body>
</html>