<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel = "stylesheet" href = "{% static 'twitter/css/post.css' %}">
    <script src = "{% static 'twitter/js/post.js'%}"></script> 
</head>
<body>
    <div class="navbar">
        <a href = "{% url 'home' %}"><div class = "homebutton"> Home </div></a>
    </div> 
    {% if post %}
        <div class="post">
            <img src = "{% static 'twitter/images/default.png' %}", width = 60px, height = 60px> 
            <a href = "{% url 'profile' username=post.user %}"><h2>{{post.user}}</h2></a> 
            {% if own %}
                <form class = "inline" action="{% url 'deletepost' pk=post.pk%}" method="POST">
                    {% csrf_token %}
                    <button class = "delbutton" type="submit">Delete</button> 
                </form> 
            {% endif %}
            <br>
            <span>{{post.text}}</span> 
            <form action="{% url 'likepost' pk=post.pk %}" method="POST">
                {% csrf_token %}
                {% if liked %}
                    <button type="submit" class = "poststatsliked">
                        Likes - {{post.likes}}
                    </button>
                {% else %}
                    <button type="submit" class = "poststats">
                        Likes - {{post.likes}}
                    </button>
                {% endif %}
            </form>
        </div>
        <form action = "/twitter/post/{{post.pk}}" method = "post" class = "commentsub">
            {%csrf_token%}
            <button class = "subbutton" type="submit">Submit</button>
            <span class = "idk"><input type = "text" class = "commenttexttext" id = "comment" name = "comment" placeholder = "Comment..." autocomplete="off"></span>
        </form>
        {% for x in post.getComments %}
            <div class = "comment">
                <span class = "commenttext">
                    <a href = "{% url 'profile' username=x.user %}">{{x.user}}</a> - {{x.text}} 
                </span>
            </div>
        {% endfor %}
    {% else %}
        <p>No Post Available</p>
    {% endif %}
</body>
</html>