<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{username}}'s Profile</title>
    {%load static %}
    <link rel = "stylesheet" href = "{% static 'twitter/css/profile.css' %}">
    <script src="{% static 'twitter/js/profile.js'%}"></script> 
</head>
<body>
    <div class = "navbar">
        <a href = "{% url 'home' %}"><div class = "homebutton">
            Home
        </div></a>
    </div> 
    <h2>{{ username }}'s Profile | {{user.followers}} Follower/s | {{user.followingNum}} Following | {{user.posts}} Post/s </h2>
    <form action="/twitter/follow/{{username}}" method = "POST"> 
        {% csrf_token %}
        {% if followed %}
            <button class = "followedbutton pointer" type = "submit">Follow</button>
        {% else %}
            <button class = "followbutton pointer" type = "submit">Follow</button>
        {% endif %}
    </form>
    <div class = "postbox">
        {% if post_list %}
            {% for post in post_list %}
                <div class = "post"> 
                    {% load static %}
                    <img src = "{% static 'twitter/images/default.png' %}", width = 30px, height = 30px>
                    <h2>{{post.user}}</h2> <br>
                    <a href = "{% url 'post' pk=post.pk %}"><span>{{post.text}}</span></a>
                </div>
            {% endfor %}
        {% else %}
            <p>No Posts Available</p> 
        {% endif %}
    </div>
</body>
</html>