<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static %}
    <link rel = "stylesheet" href = "{% static 'twitter/css/profile.css' %}">
    <script src="{% static 'twitter/js/profile.js'%}"></script> 
</head>
<body>
    <div class = "navbar">
        <a href = "{% url 'home' %}"><div class = "homebutton">
            Home
        </div></a>
    </div> 
    {% if post_list %}
        <h2>{{ post_list.0.user }}'s Posts</h2>
    {% else %}
        <h2>No posts available for this user</h2>
    {% endif %}
    <div class = "postbox">
        {% if post_list %}
            {% for post in post_list %}
                <div class = "post">
                    {% load static %}
                    <img src = "{% static 'twitter/images/default.png' %}", width = 30px, height = 30px> 
                    <h2>{{post.user}}</h2> <br>
                    <a href = "{% url 'post' pk=post.pk %}"><span>{{post.text}}</span></a>
                </div>
            {% endfor %}
        {% else %}
            <p>No Posts Available</p> 
        {% endif %}
    </div>
</body>
</html>