<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    {% load static %}
    <link rel = "stylesheet" href = "{% static 'twitter/css/signup.css' %}">
</head>
<body>
    <form action = "/twitter/signup" method = "post" class = "logbox" autocomplete="off">
        {%csrf_token%}
        <h3>Sign-Up</h3>
        <input class = "logentry" type="text" id = "username" name = "username"  placeholder = "Enter Username...">
        <br>
        <input class = "logentry" type="password" id = "password1" name = "password1"  placeholder = "Enter Password...">
        <br>
        <input class = "logentry" type="password" id = "password2" name = "password2"  placeholder = "Confirm Password...">
        <br>
        <button type = "submit"> Submit </button>
        <br> <br> <hr> <br>
        <a href = "{% url 'login' %}">Already have an account? Log In!</a>
    </form>
    {% for message in messages %}  
        <p>{{message}}</p>
    {% endfor %}
</body>
</html>